<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {% if site.google_analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
	<script data-goatcounter="https://comparchmentoring.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% seo %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

	<hr>
        <h2 class="join-title">Join us</h2>

        <div class="join-gallery">
            {% for medium in site.data.social %}
            {% if medium.active == true %}
            <a href="{{ medium.link }}" title="{{ medium.name }}">
                <i class="fa fa-3x {{ medium.icon }}" style="color: #{{ medium.color}};"></i>
            </a>
            {% endif %}
            {% endfor %}
        </div>

        <div style="margin-bottom: 50px;"></div>

      </header>


      <div class="nav-bar" id="navbar">
	<!-- <hr> -->
	<div class="nav-bar-content">
	  <p>
	    <div class="nav-item" onclick="window.location='{{ append: '/index.html' | relativeurl }}';">[Home]</div>
            {% assign sortedNavPages = site.pages | sort:"order" %}
            {% for page in sortedNavPages %}
            {% if page.categories contains "navigation" %}
            {% assign pageUrl = '/pages/' | append: page.title | downcase | replace: ' ','-' | relative_url | append: '.html' %}
	    <div class="nav-item" onclick="window.location='{{ pageUrl }}';">{{ page.title }}</div>
            {% endif %}
            {% endfor %}
	  </p>
	</div>
	<!-- <hr> -->
      </div>
      
      <section>


	{{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      // When the user scrolls the page, execute myFunction
      window.onscroll = function() {myFunction()};

      // Get the navbar
      var navbar = document.getElementById("navbar");

      // Get the offset position of the navbar
      var sticky = navbar.offsetTop;

      // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
      function myFunction() {
          console.log("myFunction called");
          if (window.pageYOffset >= sticky) {
              navbar.classList.add("sticky")
          } else {
              navbar.classList.remove("sticky");
          }
      }
    </script>
  </body>
</html>
