<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        {% if site.google_analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
	<script data-goatcounter="https://comparchmentoring.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% seo %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>

        {% if site.logo %}
        <div class="header-div">
          <div class="header-logo">
            <img src="{{ site.logo | relative_url }}" alt="Logo" />
          </div>
          <div class="header-text">
            {{ site.title }}
          </div>
        </div>
        {% endif %}


      </header>
      
      <section>


      <nav class="nav-bar" id="navbar">
	<div class="nav-bar-content">
            {% assign pageUrlWithBase = baseurl | append: page.url | relative_url %}
            {% assign homeUrl = '/index.html' | relative_url %}
            {% assign relativeUrl = '/' | relative_url %}

            {% assign navItemClasses = 'nav-item' %}
            {% if relativeUrl == pageUrlWithBase %}
              {% assign navItemClasses = navItemClasses | append: ' nav-item-cur' %}
            {% endif %}

	    <div class="{{ navItemClasses }}" onclick="window.location='{{ homeUrl }}';">
              Home
            </div>

            {% assign sortedNavPages = site.pages | sort:"order" %}
            {% for navPage in sortedNavPages %}
            {% if navPage.categories contains "navigation" %}
            {% assign navPageUrl = '/pages/' | append: navPage.title | downcase | replace: ' ','-' | relative_url | append: '.html' %}
            {% assign navItemClasses = 'nav-item' %}

            {% if pageUrlWithBase == navPageUrl %}
              {% assign navItemClasses = navItemClasses | append: ' nav-item-cur' %}
            {% endif %}
            
	    <div class="{{ navItemClasses }}" onclick="window.location='{{ navPageUrl }}';">
              {{ navPage.title }}
            </div>
            {% endif %}
            {% endfor %}
            <a href="javascript:void(0);" class="nav-item nav-hamburger" onclick="navBarHamToggle()">
              {{ site.title }}&nbsp;
              <i class="fa fa-bars"></i>
            </a>
	</div>
      </nav>

      <div class="content">
	{{ content }}
      </div>

      <div class="footer">
        <hr>
        <h2 class="join-title">Keep in touch with {{ site.title }}!</h2>
        <div class="join-gallery">
          {% for medium in site.data.social %}
          {% if medium.active == true %}
          <a href="{{ medium.link }}" title="{{ medium.name }}">
            <i class="fa fa-2x {{ medium.icon }}" style="color: #{{ medium.color}};"></i>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      let navItems = document.getElementsByClassName("nav-item");

      function navBarHamToggle() {
          for (var i = 0; i < navItems.length-1; i++) {
              if (!navItems[i].className.includes("nav-item-small-scr")) {
                  navItems[i].className += " nav-item-small-scr";
              } else {
                  navItems[i].className = navItems[i].className.replace('nav-item-small-scr', '');
              }
          }
      }
    </script>
  </body>
</html>
